build/
build-*/
data/
ci/
CTestConfig.cmake
*__pycache__

# GXF Extensions
*.so

# Utilities
aggregate_metadata.json
/dist/
/install/


# Dev
.venv/
ngc-cli/
.bash_history
.wget-hsts
.cache/
.cupy/

.docker/
.dotnet/
.gitconfig
.gnupg/
.local/
.ssh/
.vscode-server/
eason/
tmp/